<html>
	<head>
		<style type="text/css">
            body {
                background: url('bg.png');
                color: #222;
                text-shadow: 0px 1px 1px #cecece;
            }
        </style>
	</head>
    <body>
    <header>
    	<hgroup>
    		<h1>Hello there,</h1>
    		<h2>How are 'ya?</h2>
    	</hgroup>
        <p>This is some text.</p>
    </header>
    </body>
</html>